$bg-gray: #f6f8f7;
$light-green: #8ec63f;
// grid
$grid-gutter-width: 30px;
$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);
$container-max-widths: (
	sm: 97%,
	md: 97%,
	lg: 97%,
	xl: 1230px
);
